<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>
    <body>
        <h1>This is the About page </h1>
        <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Explicabo incidunt exercitationem iste perferendis
            laboriosam sapiente officia eligendi esse, dignissimos vel?</p>
        <nav>
            <a href="/">Home </a></br>
            <a href="/about">About </a>

        </nav>
    </body>
</html>