<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>

        <body>
            <div class="container">
                <%- include('./partials/nav.ejs')%>

                    <div class="about content">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Iure ipsum quis placeat voluptatibus id,
                            perspiciatis
                            provident expedita, mollitia enim officiis quam?
                            Odit
                            corporis ut provident animi minus accusamus
                            officiis,
                            porro neque totam iure. Molestiae laudantium,
                            laborum et
                            porro quia ratione.
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Ad error dolor quia quaerat tempore, doloribus
                            repudiandae itaque nam cumque harum explicabo eaque,
                            mollitia enim laudantium. Voluptas ab est ducimus
                            molestias! Reiciendis doloribus sapiente vero iste
                            quo
                            facilis sed rerum perferendis?
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Illo,
                            explicabo!</p>
                        <p class="last-para">Lorem ipsum, dolor sit amet
                            consectetur
                            adipisicing elit.
                            Earum fugit ipsum, harum error minima, facere
                            dignissimos unde nesciunt suscipit, eum sunt facilis
                            veniam itaque maxime odit ratione inventore
                            veritatis
                            reiciendis.
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Amet, perferendis? Debitis quidem fuga aut maiores
                            nesciunt repudiandae, odio autem consequuntur
                            excepturi
                            labore, sunt ipsam possimus veritatis necessitatibus
                            quia hic reprehenderit quo rem aperiam numquam fugit
                            ea.
                            Veniam voluptate consequuntur asperiores quia maxime
                            incidunt est quidem minima nulla obcaecati optio
                            quam,
                            sed qui dolor itaque. Velit iusto labore quasi iste
                            libero!
                        </p>
                    </div>
                </div>
                <%- include('./partials/footer.ejs')%>
                </body>
            </html>