<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>

        <body>
            <div class="container">
                <%- include('./partials/nav.ejs')%>

                    <div class="about content">
                        <h2>About Us</h2>
                        <p>The BlackRock principles
                            BlackRock’s purpose is to help more and more people
                            experience financial well-being.

                            We rely on our principles to guide how we interact
                            with each other, our clients, the communities in
                            which we operate, and all of our other stakeholders.
                            These principles represent our core values, our
                            aspirations, and our cultural language – lived and
                            embraced by every employee at our firm.

                            Number 1

                            We are a fiduciary to our clients.

                            Our clients’ interests come first.

                            The fiduciary mindset is the bedrock of our
                            identity. It reflects our integrity and the unbiased
                            advice we give our clients.

                            And it’s what inspires us to come to work every day
                            and help people build better futures.


                            Number 2
                            We are One BlackRock.

                            We work collaboratively, without silos and without
                            turf, to create the best outcomes for our clients,
                            our firm, and the communities where we operate.

                            A diverse workforce is indispensable to our
                            creativity and success. It’s how we answer the
                            biggest questions and solve the toughest problems.
                            An inclusive, equitable environment makes us thrive.
                            It enables us to draw on expertise and unique
                            experiences from across the firm and bring out the
                            best in each other.
                            Aladdin unifies us, creating a common language for
                            us to interpret the world, the markets, and our
                            clients’ needs.

                            Number 3

                            We are passionate about performance.

                            We are relentless about finding better ways to serve
                            our clients and improve our firm. Since our
                            founding, innovation has been at the center of how
                            we deliver performance and stay ahead of our
                            clients’ needs.

                            We have continually reinvented our firm and our
                            industry to help people achieve their goals.
                            We are lifelong students – of markets, of
                            technology, and of the world.

                            Number 4

                            We take emotional ownership.

                            The people we serve entrust us to help them prepare
                            for the future. Our culture is defined by the deep
                            sense of responsibility we feel to our clients and
                            to each other.

                            In everything we do – from the investment
                            performance we deliver to the technology we develop
                            – we are emotionally invested in our clients’
                            futures.
                            We are equally invested in the success of our firm
                            and our colleagues. We hold ourselves and each other
                            to the highest standards of excellence.

                            Number 5
                            We are committed to a better future.

                            We are long-term thinkers, focused on helping people
                            build a better tomorrow. We are deeply invested in
                            the success of all of our stakeholders – our
                            clients, our employees, our shareholders, and the
                            communities where we operate – and we run our
                            business sustainably and responsibly.

                            At the companies we invest in for our clients, we
                            advocate for sustainable and responsible business
                            practices that drive long-term value.
                            We always strive to serve more people, and to find
                            new and innovative ways to help them achieve
                            financial well-being.

                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Illo,
                            explicabo!</p>
                        <p class="last-para">Lorem ipsum, dolor sit amet
                            consectetur
                            adipisicing elit.
                            Earum fugit ipsum, harum error minima, facere
                            dignissimos unde nesciunt suscipit, eum sunt facilis
                            veniam itaque maxime odit ratione inventore
                            veritatis
                            reiciendis.
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Amet, perferendis? Debitis quidem fuga aut maiores
                            nesciunt repudiandae, odio autem consequuntur
                            excepturi
                            labore, sunt ipsam possimus veritatis necessitatibus
                            quia hic reprehenderit quo rem aperiam numquam fugit
                            ea.
                            Veniam voluptate consequuntur asperiores quia maxime
                            incidunt est quidem minima nulla obcaecati optio
                            quam,
                            sed qui dolor itaque. Velit iusto labore quasi iste
                            libero!
                        </p>
                    </div>
                </div>

                <%- include('./partials/footer.ejs')%>
                    <p
                        class="current-year">
                        <%=
                            currentYear%>
                        </p>
                    </body>
                </html>